*{
    margin: 0;
    padding: 0;
}

.snake_golova{
    width: 20px;
    height: 20px;
    background: rgb(56, 90, 4);
    z-index: 1000;
}
input{
  box-sizing: border-box;
   width: 100%;
   margin-bottom: 20px;
}